<!DOCTYPE html>
<html lang="en">
        <%- include('./components/header.ejs') %>
  
  <body>

        <%- include('./components/navbar.ejs') %>

    <div class="heading text-center pt-3">
        <img class="round logo-avatar" src="https://cdn.glitch.com/3e9304e0-23b6-4d34-8ca4-92f7ba536183%2Fhyoukakk.jpg?v=1602441076647" alt="Hyouka">
        <h1 class="display-5 heading--title">Hyouka, um Bot para entreter seu servidor. </h1>
        <p class="heading--subtitle">Hyouka é um simples bot de Discord feito com dashboard embutida,<br> comandos de diversão, moderação e mais!</p>
        <a class="btn btn-primary btn-lg" href="/invite" target="_blank" role="button">+ Me adicione</a>
        <a class="btn btn-secondary btn-lg" href="/dashboard" target="_blank" role="button">Dashboard</a>
        
    </div>
    <div class="features">
        <!-- <div class="title">Recursos do Bot</div>
        <div class="subtitle ">Veja por que adicionar o Hyouka em seu servidor</div>
        <br>
        <div class="itens">
            <div class="item" style="width: 18rem;">
            <div class="item-body">
                <h5 class="item-title"> <span><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list-ul" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg></span> Future #1</h5>
                <p class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex ante, mattis vel dapibus vel, tempor facilisis justo. Vivamus dignissim ut nisi eu consequat.</p>
            </div>
            </div>
    
            <div class="item" style="width: 18rem;">
            <div class="item-body">
                <h5 class="item-title">Future #1</h5>
                <p class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex ante, mattis vel dapibus vel, tempor facilisis justo. Vivamus dignissim ut nisi eu consequat.</p>
            </div>
            </div>
    
            <div class="item" style="width: 18rem;">
            <div class="item-body">
                <h5 class="item-title">Future #1</h5>
                <p class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex ante, mattis vel dapibus vel, tempor facilisis justo. Vivamus dignissim ut nisi eu consequat.</p>
            </div>
            </div>
        </div> -->
       <h1>Manuntenção</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse laudantium architecto obcaecati numquam neque odit expedita atque dolorem? Ad quae maxime quisquam repellendus neque? Nulla, expedita odio. Porro, doloremque voluptates.</p>

    </div>
    <div class="statistics">
       
        <div class="itens">
            <div class="item statistic" style="width: 18rem;">
                <div class="item-body">
                    <p class="item-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;"><%=bot.guilds.cache.size%></h1>
                    <p style="font-weight: bold !important;font-size: 20px !important;">Servidores</p>
                </div>
            </div>
            <div class="item statistic" style="width: 18rem;">
                <div class="item-body">
                    <p class="item-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;"><%=bot.channels.cache.size%></h1>
                    <p style="font-weight: bold !important;font-size: 20px !important;">Usuarios</p>
                </div>
            </div>
            <div class="item statistic" style="width: 18rem;">
                <div class="item-body">
                    <p class="item-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;"><%=bot.users.cache.size%></h1>
                    <p style="font-weight: bold !important;font-size: 20px !important;">Canais</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer">
         <div class="bot-footer">
             <img src="https://cdn.glitch.com/3e9304e0-23b6-4d34-8ca4-92f7ba536183%2Flogozin.png?v=1602440147218" width="150"><br/>
             Copyright © Matheuuus#7083 - 2020
         </div><br/>
    </div>
  </body>
</html>
 <!-- <div class="title">Recursos do Bot</div>
        <div class="subtitle ">Veja por que adicionar o Hyouka em seu servidor</div>
        <br>
        <div class="itens">
            <div class="item" style="width: 18rem;">
            <div class="item-body">
                <h5 class="item-title"> <span><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list-ul" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg></span> Future #1</h5>
                <p class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex ante, mattis vel dapibus vel, tempor facilisis justo. Vivamus dignissim ut nisi eu consequat.</p>
            </div>
            </div>
    
            <div class="item" style="width: 18rem;">
            <div class="item-body">
                <h5 class="item-title">Future #1</h5>
                <p class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex ante, mattis vel dapibus vel, tempor facilisis justo. Vivamus dignissim ut nisi eu consequat.</p>
            </div>
            </div>
    
            <div class="item" style="width: 18rem;">
            <div class="item-body">
                <h5 class="item-title">Future #1</h5>
                <p class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex ante, mattis vel dapibus vel, tempor facilisis justo. Vivamus dignissim ut nisi eu consequat.</p>
            </div>
            </div>
        </div> 
       <h1>Manuntenção</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse laudantium architecto obcaecati numquam neque odit expedita atque dolorem? Ad quae maxime quisquam repellendus neque? Nulla, expedita odio. Porro, doloremque voluptates.</p>
      -->
<!--     <div class="statistics">
       
        <div class="itens">
            <div class="item statistic" style="width: 18rem;">
                <div class="item-body">
                    <p class="item-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;"><%=bot.guilds.cache.size%></h1>
                    <p style="font-weight: bold !important;font-size: 20px !important;">Servidores</p>
                </div>
            </div>
            <div class="item statistic" style="width: 18rem;">
                <div class="item-body">
                    <p class="item-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;"><%=bot.channels.cache.size%></h1>
                    <p style="font-weight: bold !important;font-size: 20px !important;">Usuarios</p>
                </div>
            </div>
            <div class="item statistic" style="width: 18rem;">
                <div class="item-body">
                    <p class="item-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;"><%=bot.users.cache.size%></h1>
                    <p style="font-weight: bold !important;font-size: 20px !important;">Canais</p>
                </div>
            </div>
        </div>
    </div> -->
    
<!--     <div class="footer">
         <div class="bot-footer">
             <img src="https://cdn.glitch.com/3e9304e0-23b6-4d34-8ca4-92f7ba536183%2Flogozin.png?v=1602440147218" width="150"><br/>
             Copyright © Matheuuus#7083 - 2020
         </div><br/>
    </div> -->