<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('../components/header.ejs') %>
      <link rel="stylesheet" href="/css/sidebar.css">
    </head>
  <body>
    
    <%- include ('../components/sidebar.ejs') %> 

    <div class="d-flex" id="wrapper">
      
      <div class="extension">
        <header class="text-center py-4 px-2" style="background-color: #2c2e33;">
          
<!--           <div style="text-align: end;">
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </div> --> <!-- Eu ia fazer um sistema responsivo mas fiquei com preguiça -->
          
          <div class="large-icon">
            <img class="round" src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=512" width="162" alt="<%=user.username%>"> <!-- Pega o avatar do user -->    
          </div>
          
          <h4 class="pt-2"><%=user.username%><span class="text-muted">#<%=user.tag%></span></h4>
        
        </header>
      </div>
      
      <div id="page-content-wrapper" style="width: 100%;">
  
        <%- include ('../components/navbar.ejs') %>
  
        <div class="jumbotron text-center bg-transparent">
          <h1 class="display-3">Hyouka Dashboard</h1>
          <hr>
          <p class="lead">Escolha um servidor</p>
          
        </div>
        
      </div>
  
    </div>
  </body>
</html>